<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Tamagotchi</title>
    </head>
    <body>
        <h1>Let's Make a New Tamagotchi!</h1>
        <form action="/friends" method="post">
            <label for="name">Give your new friend a name!</label>
            <input type="text" name="name"/>
            <button type="submit">Make it!</button>
        </form>
    </body>
</html>
